In [121]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O

import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [122]:
df = pd.read_csv("F:\\Study\\data\\lastmission\\6-2Extra_Train_First.csv", error_bad_lines=False)
df.head()

,source_system_tab,source_screen_name,source_type,target,song_length,genre_ids,artist_name,composer,lyricist,language,city,bd,gender,registered_via,registration_init_time,expiration_date
0,explore,Explore,online-playlist,1,206471,359,Bastille,Dan Smith| Mark Crew,NaN,52.0,1,0,NaN,7,20120102,20171005
1,explore,Explore,online-playlist,1,187802,1011,Brett Young,Brett Young| Kelly Archer| Justin Ebach,NaN,52.0,1,0,NaN,7,20120102,20171005
2,explore,Explore,online-playlist,1,247803,1259,Desiigner,Sidney Selby| Adnan Khan,NaN,52.0,1,0,NaN,7,20120102,20171005
3,explore,Explore,online-playlist,1,181115,1011,Thomas Rhett,Thomas Rhett| Rhett Akins| Ben Hayslip,NaN,52.0,1,0,NaN,7,20120102,20171005
4,search,Search,top-hits-for-artist,1,282070,465|1259,玖壹壹,陳皓宇,洪瑜鴻|胡睿兒,3.0,1,0,NaN,7,20120102,20171005

In [123]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999984 entries, 0 to 999983
Data columns (total 16 columns):
source_system_tab         997045 non-null object
source_screen_name        953750 non-null object
source_type               997387 non-null object
target                    999984 non-null int64
song_length               999984 non-null int64
genre_ids                 985364 non-null object
artist_name               999984 non-null object
composer                  787614 non-null object
lyricist                  589551 non-null object
language                  999978 non-null float64
city                      999984 non-null int64
bd                        999984 non-null int64
gender                    601578 non-null object
registered_via            999984 non-null int64
registration_init_time    999984 non-null int64
expiration_date           999984 non-null int64
dtypes: float64(1), int64(7), object(8)
memory usage: 122.1+ MB

In [124]:
df.isnull().sum()

source_system_tab           2939
source_screen_name         46234
source_type                 2597
target                         0
song_length                    0
genre_ids                  14620
artist_name                    0
composer                  212370
lyricist                  410433
language                       6
city                           0
bd                             0
gender                    398406
registered_via                 0
registration_init_time         0
expiration_date                0
dtype: int64

In [125]:
#处理缺失值
NaN_col_names = ['source_system_tab','source_screen_name','source_type', 'genre_ids', 'composer', 'lyricist', 'gender']
df[NaN_col_names] = df[NaN_col_names].replace(np.NaN, 'Unknown')

In [126]:
df.describe()

,target,song_length,language,city,bd,registered_via,registration_init_time,expiration_date
count,999984.000000,9.999840e+05,999978.000000,999984.000000,999984.000000,999984.000000,9.999840e+05,9.999840e+05
mean,0.691781,2.454781e+05,18.472134,7.522783,17.358147,6.769259,2.012802e+07,2.017148e+07
std,0.461758,5.777174e+04,21.141488,6.592127,20.985392,2.296836,2.970794e+04,3.936882e+03
min,0.000000,2.716000e+03,-1.000000,1.000000,-43.000000,3.000000,2.004033e+07,2.004102e+07
25%,0.000000,2.154570e+05,3.000000,1.000000,0.000000,4.000000,2.011072e+07,2.017091e+07
50%,1.000000,2.423665e+05,3.000000,5.000000,21.000000,7.000000,2.013110e+07,2.017093e+07
75%,1.000000,2.727180e+05,52.000000,13.000000,28.000000,9.000000,2.015101e+07,2.017101e+07
max,1.000000,7.371499e+06,59.000000,22.000000,1030.000000,13.000000,2.016120e+07,2.020102e+07

In [127]:
#年龄使用中位数填充异常
df['bd'] = df['bd'].apply(lambda x: 21 if x < 5 or x > 80 else x)

In [128]:
#处理日期，将注册日期和到期日期合并（相减）,用天作为日期值
import datetime
now_time = datetime.datetime.now()
print(now_time.year)

2019

In [129]:
pd.to_datetime(df['registration_init_time'], format='%Y%m%d').dt.year

0         2012
1         2012
2         2012
3         2012
4         2012
5         2012
6         2012
7         2012
8         2012
9         2012
10        2012
11        2012
12        2012
13        2012
14        2012
15        2012
16        2012
17        2012
18        2012
19        2012
20        2012
21        2012
22        2012
23        2012
24        2012
25        2012
26        2012
27        2012
28        2012
29        2012
          ...
999954    2013
999955    2013
999956    2013
999957    2013
999958    2013
999959    2013
999960    2013
999961    2013
999962    2013
999963    2013
999964    2013
999965    2013
999966    2012
999967    2012
999968    2012
999969    2012
999970    2012
999971    2012
999972    2012
999973    2012
999974    2012
999975    2012
999976    2012
999977    2012
999978    2012
999979    2016
999980    2016
999981    2016
999982    2016
999983    2014
Name: registration_init_time, Length: 999984, dtype: int64

In [130]:
df['years']=pd.to_datetime(df['expiration_date'], format='%Y%m%d').dt.year-pd.to_datetime(df['registration_init_time'], format='%Y%m%d').dt.year

In [131]:
df['months']=pd.to_datetime(df['expiration_date'], format='%Y%m%d').dt.month-pd.to_datetime(df['registration_init_time'], format='%Y%m%d').dt.month

In [132]:
df['times_Mon']=df['years']*12+df['months']

In [133]:
df.head()

,source_system_tab,source_screen_name,source_type,target,song_length,genre_ids,artist_name,composer,lyricist,language,city,bd,gender,registered_via,registration_init_time,expiration_date,years,months,times_Mon
0,explore,Explore,online-playlist,1,206471,359,Bastille,Dan Smith| Mark Crew,Unknown,52.0,1,21,Unknown,7,20120102,20171005,5,9,69
1,explore,Explore,online-playlist,1,187802,1011,Brett Young,Brett Young| Kelly Archer| Justin Ebach,Unknown,52.0,1,21,Unknown,7,20120102,20171005,5,9,69
2,explore,Explore,online-playlist,1,247803,1259,Desiigner,Sidney Selby| Adnan Khan,Unknown,52.0,1,21,Unknown,7,20120102,20171005,5,9,69
3,explore,Explore,online-playlist,1,181115,1011,Thomas Rhett,Thomas Rhett| Rhett Akins| Ben Hayslip,Unknown,52.0,1,21,Unknown,7,20120102,20171005,5,9,69
4,search,Search,top-hits-for-artist,1,282070,465|1259,玖壹壹,陳皓宇,洪瑜鴻|胡睿兒,3.0,1,21,Unknown,7,20120102,20171005,5,9,69

In [134]:
df.describe()

,target,song_length,language,city,bd,registered_via,registration_init_time,expiration_date,years,months,times_Mon
count,999984.000000,9.999840e+05,999978.000000,999984.000000,999984.000000,999984.000000,9.999840e+05,9.999840e+05,999984.000000,999984.000000,999984.000000
mean,0.691781,2.454781e+05,18.472134,7.522783,25.390743,6.769259,2.012802e+07,2.017148e+07,4.329868,1.613738,53.572157
std,0.461758,5.777174e+04,21.141488,6.592127,7.473615,2.296836,2.970794e+04,3.936882e+03,3.043913,4.300839,36.572532
min,0.000000,2.716000e+03,-1.000000,1.000000,5.000000,3.000000,2.004033e+07,2.004102e+07,0.000000,-11.000000,0.000000
25%,0.000000,2.154570e+05,3.000000,1.000000,21.000000,4.000000,2.011072e+07,2.017091e+07,2.000000,-1.000000,24.000000
50%,1.000000,2.423665e+05,3.000000,5.000000,21.000000,7.000000,2.013110e+07,2.017093e+07,4.000000,1.000000,47.000000
75%,1.000000,2.727180e+05,52.000000,13.000000,28.000000,9.000000,2.015101e+07,2.017101e+07,6.000000,5.000000,75.000000
max,1.000000,7.371499e+06,59.000000,22.000000,74.000000,13.000000,2.016120e+07,2.020102e+07,14.000000,11.000000,170.000000

In [135]:
df = df.drop(['registration_init_time', 'expiration_date','years','months'], axis=1)
df.head()

,source_system_tab,source_screen_name,source_type,target,song_length,genre_ids,artist_name,composer,lyricist,language,city,bd,gender,registered_via,times_Mon
0,explore,Explore,online-playlist,1,206471,359,Bastille,Dan Smith| Mark Crew,Unknown,52.0,1,21,Unknown,7,69
1,explore,Explore,online-playlist,1,187802,1011,Brett Young,Brett Young| Kelly Archer| Justin Ebach,Unknown,52.0,1,21,Unknown,7,69
2,explore,Explore,online-playlist,1,247803,1259,Desiigner,Sidney Selby| Adnan Khan,Unknown,52.0,1,21,Unknown,7,69
3,explore,Explore,online-playlist,1,181115,1011,Thomas Rhett,Thomas Rhett| Rhett Akins| Ben Hayslip,Unknown,52.0,1,21,Unknown,7,69
4,search,Search,top-hits-for-artist,1,282070,465|1259,玖壹壹,陳皓宇,洪瑜鴻|胡睿兒,3.0,1,21,Unknown,7,69

In [136]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
feats_to_encode = ['city', 'gender', 'language', 'source_type', 'source_screen_name', 'source_system_tab']
for col in feats_to_encode:
    df[col] = le.fit_transform(df[col].astype(str))

In [137]:
df.head()

,source_system_tab,source_screen_name,source_type,target,song_length,genre_ids,artist_name,composer,lyricist,language,city,bd,gender,registered_via,times_Mon
0,2,7,6,1,206471,359,Bastille,Dan Smith| Mark Crew,Unknown,8,0,21,0,7,69
1,2,7,6,1,187802,1011,Brett Young,Brett Young| Kelly Archer| Justin Ebach,Unknown,8,0,21,0,7,69
2,2,7,6,1,247803,1259,Desiigner,Sidney Selby| Adnan Khan,Unknown,8,0,21,0,7,69
3,2,7,6,1,181115,1011,Thomas Rhett,Thomas Rhett| Rhett Akins| Ben Hayslip,Unknown,8,0,21,0,7,69
4,7,14,10,1,282070,465|1259,玖壹壹,陳皓宇,洪瑜鴻|胡睿兒,4,0,21,0,7,69

In [138]:
#处理歌曲长度，15秒一分组
#音乐长度按１５s分组

df['song_length'] = df['song_length'].apply(lambda x: int(x/1000/15))
df.describe()

,source_system_tab,source_screen_name,source_type,target,song_length,language,city,bd,gender,registered_via,times_Mon
count,999984.000000,999984.000000,999984.000000,999984.000000,999984.000000,999984.000000,999984.000000,999984.000000,999984.000000,999984.000000,999984.000000
mean,3.533525,8.656476,4.938052,0.691781,15.863640,4.827483,6.565416,25.390743,0.915301,6.769259,53.572157
std,1.524836,3.427397,1.692660,0.461758,3.863227,2.073362,6.658079,7.473615,0.839614,2.296836,36.572532
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,0.000000,3.000000,0.000000
25%,4.000000,8.000000,4.000000,0.000000,14.000000,4.000000,0.000000,21.000000,0.000000,4.000000,24.000000
50%,4.000000,8.000000,5.000000,1.000000,16.000000,4.000000,4.000000,21.000000,1.000000,7.000000,47.000000
75%,4.000000,9.000000,6.000000,1.000000,18.000000,8.000000,15.000000,28.000000,2.000000,9.000000,75.000000
max,8.000000,18.000000,11.000000,1.000000,491.000000,10.000000,20.000000,74.000000,2.000000,13.000000,170.000000

In [139]:
df['song_length'] = df['song_length'].apply(lambda x: 60 if x > 60 else x)

In [140]:
df["artist_name"]=df["artist_name"].apply(lambda x:str(x).replace("&","|"))

In [141]:
import re
#处理另外几个不太好处理的特征
def get_list_infos_first_type(infos):
    type_times = {}
    
    for info in infos:
        info_list = str(info).split("|")
        
        if info_list[0] in type_times.keys():
            type_times[info_list[0]] = type_times[info_list[0]] + 1
        else:
            type_times[info_list[0]] = 1
                    
    return type_times



# 获取最大类别数, 以及[类别,出现次数]的字典表
def get_list_infos(infos):
    max_group = 0
    type_times = {}
    
    for info in infos:
        info_list = str(info).split("|")
        max_group = max(max_group, len(info_list))
        
        for tp in info_list:
            
            if tp in type_times.keys():
                type_times[tp] = type_times[tp] + 1
            else:
                type_times[tp] = 1
                    
    return max_group, type_times

# 讲dict中的次数信息转成概率信息
def get_dict_info_to_probability(dict_info):
    
    type_probability = {}
    
    max_times = 0
    
    for value in dict_info.values():
        max_times += value
    
    print ("总次数:", max_times)
    
    for key in dict_info:
        if max_times == 0:
            type_probability[key] = 0
        else:
            type_probability[key] = dict_info[key]/max_times
                    
    return type_probability

In [142]:
#先处理歌曲类别
genreIds = df['genre_ids'].unique()
max_genre_group, genre_times = get_list_infos(genreIds)
genre_probability = get_dict_info_to_probability(genre_times)

总次数: 756

In [143]:
genre_probability

{'359': 0.018518518518518517,
 '1011': 0.006613756613756613,
 '1259': 0.027777777777777776,
 '465': 0.06481481481481481,
 '1609': 0.0291005291005291,
 '1616': 0.009259259259259259,
 '444': 0.013227513227513227,
 '921': 0.031746031746031744,
 '139': 0.03306878306878307,
 '451': 0.003968253968253968,
 '2022': 0.04497354497354497,
 '125': 0.010582010582010581,
 '109': 0.02513227513227513,
 '691': 0.006613756613756613,
 '458': 0.015873015873015872,
 '352': 0.003968253968253968,
 '1995': 0.003968253968253968,
 '423': 0.005291005291005291,
 '1955': 0.003968253968253968,
 '2058': 0.0026455026455026454,
 'Unknown': 0.0013227513227513227,
 '2072': 0.0026455026455026454,
 '1040': 0.0013227513227513227,
 '2093': 0.003968253968253968,
 '430': 0.006613756613756613,
 '437': 0.0026455026455026454,
 '2122': 0.04894179894179894,
 '2157': 0.003968253968253968,
 '893': 0.0026455026455026454,
 '958': 0.037037037037037035,
 '829': 0.013227513227513227,
 '2130': 0.010582010582010581,
 '2086': 0.022486772486772486,
 '374': 0.01984126984126984,
 '2107': 0.0026455026455026454,
 '2213': 0.0013227513227513227,
 '786': 0.04894179894179894,
 '798': 0.007936507936507936,
 '1605': 0.0013227513227513227,
 '1152': 0.0291005291005291,
 '1572': 0.005291005291005291,
 '275': 0.003968253968253968,
 '118': 0.003968253968253968,
 '1287': 0.0026455026455026454,
 '2176': 0.003968253968253968,
 '242': 0.011904761904761904,
 '409': 0.0026455026455026454,
 '516': 0.0026455026455026454,
 '1019': 0.0013227513227513227,
 '726': 0.02513227513227513,
 '947': 0.04894179894179894,
 '864': 0.010582010582010581,
 '857': 0.009259259259259259,
 '850': 0.011904761904761904,
 '843': 0.011904761904761904,
 '873': 0.01984126984126984,
 '2189': 0.007936507936507936,
 '367': 0.006613756613756613,
 '1180': 0.009259259259259259,
 '1208': 0.0013227513227513227,
 '1145': 0.003968253968253968,
 '698': 0.0013227513227513227,
 '545': 0.003968253968253968,
 '2032': 0.0013227513227513227,
 '388': 0.010582010582010581,
 '252': 0.0013227513227513227,
 '2052': 0.0013227513227513227,
 '940': 0.006613756613756613,
 '1977': 0.0013227513227513227,
 '1138': 0.0026455026455026454,
 '2109': 0.0013227513227513227,
 '2079': 0.0013227513227513227,
 '1082': 0.0013227513227513227,
 '474': 0.0013227513227513227,
 '531': 0.0026455026455026454,
 '880': 0.010582010582010581,
 '2172': 0.0013227513227513227,
 '2116': 0.003968253968253968,
 '1633': 0.0026455026455026454,
 '481': 0.0013227513227513227,
 '900': 0.003968253968253968,
 '2215': 0.0026455026455026454,
 '1969': 0.0026455026455026454,
 '965': 0.0013227513227513227,
 '416': 0.0013227513227513227,
 '1033': 0.0013227513227513227,
 '649': 0.0013227513227513227,
 '381': 0.0026455026455026454,
 '979': 0.0013227513227513227,
 '1568': 0.0026455026455026454,
 '1047': 0.0013227513227513227,
 '310': 0.0013227513227513227,
 '744': 0.0013227513227513227,
 '1988': 0.0013227513227513227,
 '1981': 0.0026455026455026454,
 '94': 0.005291005291005291,
 '993': 0.0013227513227513227,
 '751': 0.0026455026455026454,
 '986': 0.0013227513227513227,
 '1000': 0.0013227513227513227,
 '972': 0.0013227513227513227,
 '402': 0.0013227513227513227,
 '1280': 0.003968253968253968,
 '2206': 0.0026455026455026454,
 '2248': 0.0013227513227513227,
 '1630': 0.0013227513227513227,
 '2015': 0.0013227513227513227,
 '1054': 0.0013227513227513227,
 '822': 0.0013227513227513227,
 '102': 0.0013227513227513227,
 '95': 0.0026455026455026454,
 '907': 0.0013227513227513227,
 '1155': 0.0013227513227513227,
 '191': 0.0026455026455026454,
 '205': 0.0013227513227513227,
 '184': 0.0026455026455026454,
 '2100': 0.0026455026455026454,
 '502': 0.0013227513227513227,
 '509': 0.0026455026455026454,
 '1068': 0.0013227513227513227,
 '212': 0.0013227513227513227,
 '1103': 0.0026455026455026454,
 '1201': 0.0013227513227513227,
 '177': 0.0013227513227513227,
 '808': 0.0013227513227513227,
 '2219': 0.0013227513227513227,
 '1026': 0.0013227513227513227,
 '1007': 0.0013227513227513227,
 '2183': 0.0013227513227513227,
 '656': 0.0013227513227513227,
 '1187': 0.0013227513227513227,
 '282': 0.0013227513227513227,
 '1110': 0.0013227513227513227,
 '338': 0.0013227513227513227,
 '712': 0.0013227513227513227,
 '1169': 0.0013227513227513227,
 '1096': 0.0013227513227513227,
 '1273': 0.0013227513227513227,
 '1965': 0.0013227513227513227,
 '198': 0.0013227513227513227,
 '670': 0.0013227513227513227}

In [144]:
df = pd.concat([df, df['genre_ids'].str.split('|', expand=True)], axis=1)
df.head()

,source_system_tab,source_screen_name,source_type,target,song_length,genre_ids,artist_name,composer,lyricist,language,...,registered_via,times_Mon,0,1,2,3,4,5,6,7
0,2,7,6,1,13,359,Bastille,Dan Smith| Mark Crew,Unknown,8,...,7,69,359,None,None,None,None,None,None,None
1,2,7,6,1,12,1011,Brett Young,Brett Young| Kelly Archer| Justin Ebach,Unknown,8,...,7,69,1011,None,None,None,None,None,None,None
2,2,7,6,1,16,1259,Desiigner,Sidney Selby| Adnan Khan,Unknown,8,...,7,69,1259,None,None,None,None,None,None,None
3,2,7,6,1,12,1011,Thomas Rhett,Thomas Rhett| Rhett Akins| Ben Hayslip,Unknown,8,...,7,69,1011,None,None,None,None,None,None,None
4,7,14,10,1,18,465|1259,玖壹壹,陳皓宇,洪瑜鴻|胡睿兒,4,...,7,69,465,1259,None,None,None,None,None,None

In [145]:
max_genre_group

8

In [146]:
for i in range(0, max_genre_group):
    df['genreid_'+str(i)] = df[i].apply(lambda x: genre_probability[x] if x in genre_probability.keys() else 0)
    
df = df.drop(range(0,max_genre_group), axis=1)
df = df.drop('genre_ids', axis=1)
df.head()

,source_system_tab,source_screen_name,source_type,target,song_length,artist_name,composer,lyricist,language,city,...,registered_via,times_Mon,genreid_0,genreid_1,genreid_2,genreid_3,genreid_4,genreid_5,genreid_6,genreid_7
0,2,7,6,1,13,Bastille,Dan Smith| Mark Crew,Unknown,8,0,...,7,69,0.018519,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
1,2,7,6,1,12,Brett Young,Brett Young| Kelly Archer| Justin Ebach,Unknown,8,0,...,7,69,0.006614,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
2,2,7,6,1,16,Desiigner,Sidney Selby| Adnan Khan,Unknown,8,0,...,7,69,0.027778,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
3,2,7,6,1,12,Thomas Rhett,Thomas Rhett| Rhett Akins| Ben Hayslip,Unknown,8,0,...,7,69,0.006614,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
4,7,14,10,1,18,玖壹壹,陳皓宇,洪瑜鴻|胡睿兒,4,0,...,7,69,0.064815,0.027778,0.0,0.0,0.0,0.0,0.0,0.0

In [147]:
df = df.drop(['genreid_3', 'genreid_4', 'genreid_5', 'genreid_6','genreid_7'], axis=1)
df.head()

,source_system_tab,source_screen_name,source_type,target,song_length,artist_name,composer,lyricist,language,city,bd,gender,registered_via,times_Mon,genreid_0,genreid_1,genreid_2
0,2,7,6,1,13,Bastille,Dan Smith| Mark Crew,Unknown,8,0,21,0,7,69,0.018519,0.000000,0.0
1,2,7,6,1,12,Brett Young,Brett Young| Kelly Archer| Justin Ebach,Unknown,8,0,21,0,7,69,0.006614,0.000000,0.0
2,2,7,6,1,16,Desiigner,Sidney Selby| Adnan Khan,Unknown,8,0,21,0,7,69,0.027778,0.000000,0.0
3,2,7,6,1,12,Thomas Rhett,Thomas Rhett| Rhett Akins| Ben Hayslip,Unknown,8,0,21,0,7,69,0.006614,0.000000,0.0
4,7,14,10,1,18,玖壹壹,陳皓宇,洪瑜鴻|胡睿兒,4,0,21,0,7,69,0.064815,0.027778,0.0

In [148]:
df["composer"]=df["composer"].apply(lambda x:str(x).replace("&","|"))
df["lyricist"]=df["lyricist"].apply(lambda x:str(x).replace("&","|"))

In [149]:
def get_names(name, max_artist_name_group):
    names = []
    
    for i in range(0, max_artist_name_group):
        names.append(name+'_'+str(i))
    
    return names

In [152]:
from sklearn.feature_extraction import FeatureHasher

In [153]:
cols = ['artist_name', 'composer', 'lyricist']
for col in cols:
    col_names = df[col].unique()
    max_col_group, col_times = get_list_infos(col_names)

    df = pd.concat(objs = [df, df[col].str.split('|', expand=True)], axis=1)

    column_names = get_names(col, max_col_group)
    df.rename(columns = dict(zip(range(0, max_col_group), column_names)), 
              inplace = True)


    df[column_names] = df[column_names].replace(np.NaN, 'Unknown')

    val_list = ['Unknown']
    val_list = val_list + list(col_times.keys())

    le = LabelEncoder()
    le.fit(val_list)

    for c in column_names:
        df[c] = le.transform(df[c])

    df_part = df[column_names]


    colDict = df_part.to_dict('index')
    h = FeatureHasher(n_features=10)

    f = h.transform(colDict.values())

    hashNames = get_names((col+'_hash'), 10)
    df1 = pd.DataFrame(f.toarray(),
                       columns = hashNames)

    df = pd.concat([df, df1], axis=1)
    df = df.drop(column_names, axis=1)
df.head()

,source_system_tab,source_screen_name,source_type,target,song_length,artist_name,composer,lyricist,language,city,...,lyricist_hash_0,lyricist_hash_1,lyricist_hash_2,lyricist_hash_3,lyricist_hash_4,lyricist_hash_5,lyricist_hash_6,lyricist_hash_7,lyricist_hash_8,lyricist_hash_9
0,2,7,6,1,13,Bastille,Dan Smith| Mark Crew,Unknown,8,0,...,0.0,27754.0,-27754.0,27754.0,13877.0,-27754.0,-13877.0,-27754.0,0.0,-13877.0
1,2,7,6,1,12,Brett Young,Brett Young| Kelly Archer| Justin Ebach,Unknown,8,0,...,0.0,27754.0,-27754.0,27754.0,13877.0,-27754.0,-13877.0,-27754.0,0.0,-13877.0
2,2,7,6,1,16,Desiigner,Sidney Selby| Adnan Khan,Unknown,8,0,...,0.0,27754.0,-27754.0,27754.0,13877.0,-27754.0,-13877.0,-27754.0,0.0,-13877.0
3,2,7,6,1,12,Thomas Rhett,Thomas Rhett| Rhett Akins| Ben Hayslip,Unknown,8,0,...,0.0,27754.0,-27754.0,27754.0,13877.0,-27754.0,-13877.0,-27754.0,0.0,-13877.0
4,7,14,10,1,18,玖壹壹,陳皓宇,洪瑜鴻|胡睿兒,4,0,...,0.0,27754.0,-27754.0,36291.0,13877.0,-27754.0,-13877.0,-27754.0,0.0,-13877.0

In [154]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999984 entries, 0 to 999983
Data columns (total 47 columns):
source_system_tab     999984 non-null int32
source_screen_name    999984 non-null int32
source_type           999984 non-null int32
target                999984 non-null int64
song_length           999984 non-null int64
artist_name           999984 non-null object
composer              999984 non-null object
lyricist              999984 non-null object
language              999984 non-null int32
city                  999984 non-null int32
bd                    999984 non-null int64
gender                999984 non-null int32
registered_via        999984 non-null int64
times_Mon             999984 non-null int64
genreid_0             999984 non-null float64
genreid_1             999984 non-null float64
genreid_2             999984 non-null float64
artist_name_hash_0    999984 non-null float64
artist_name_hash_1    999984 non-null float64
artist_name_hash_2    999984 non-null float64
artist_name_hash_3    999984 non-null float64
artist_name_hash_4    999984 non-null float64
artist_name_hash_5    999984 non-null float64
artist_name_hash_6    999984 non-null float64
artist_name_hash_7    999984 non-null float64
artist_name_hash_8    999984 non-null float64
artist_name_hash_9    999984 non-null float64
composer_hash_0       999984 non-null float64
composer_hash_1       999984 non-null float64
composer_hash_2       999984 non-null float64
composer_hash_3       999984 non-null float64
composer_hash_4       999984 non-null float64
composer_hash_5       999984 non-null float64
composer_hash_6       999984 non-null float64
composer_hash_7       999984 non-null float64
composer_hash_8       999984 non-null float64
composer_hash_9       999984 non-null float64
lyricist_hash_0       999984 non-null float64
lyricist_hash_1       999984 non-null float64
lyricist_hash_2       999984 non-null float64
lyricist_hash_3       999984 non-null float64
lyricist_hash_4       999984 non-null float64
lyricist_hash_5       999984 non-null float64
lyricist_hash_6       999984 non-null float64
lyricist_hash_7       999984 non-null float64
lyricist_hash_8       999984 non-null float64
lyricist_hash_9       999984 non-null float64
dtypes: float64(33), int32(6), int64(5), object(3)
memory usage: 335.7+ MB

In [155]:
df = df.drop(['artist_name', 'composer', 'lyricist'], axis=1)

In [156]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999984 entries, 0 to 999983
Data columns (total 44 columns):
source_system_tab     999984 non-null int32
source_screen_name    999984 non-null int32
source_type           999984 non-null int32
target                999984 non-null int64
song_length           999984 non-null int64
language              999984 non-null int32
city                  999984 non-null int32
bd                    999984 non-null int64
gender                999984 non-null int32
registered_via        999984 non-null int64
times_Mon             999984 non-null int64
genreid_0             999984 non-null float64
genreid_1             999984 non-null float64
genreid_2             999984 non-null float64
artist_name_hash_0    999984 non-null float64
artist_name_hash_1    999984 non-null float64
artist_name_hash_2    999984 non-null float64
artist_name_hash_3    999984 non-null float64
artist_name_hash_4    999984 non-null float64
artist_name_hash_5    999984 non-null float64
artist_name_hash_6    999984 non-null float64
artist_name_hash_7    999984 non-null float64
artist_name_hash_8    999984 non-null float64
artist_name_hash_9    999984 non-null float64
composer_hash_0       999984 non-null float64
composer_hash_1       999984 non-null float64
composer_hash_2       999984 non-null float64
composer_hash_3       999984 non-null float64
composer_hash_4       999984 non-null float64
composer_hash_5       999984 non-null float64
composer_hash_6       999984 non-null float64
composer_hash_7       999984 non-null float64
composer_hash_8       999984 non-null float64
composer_hash_9       999984 non-null float64
lyricist_hash_0       999984 non-null float64
lyricist_hash_1       999984 non-null float64
lyricist_hash_2       999984 non-null float64
lyricist_hash_3       999984 non-null float64
lyricist_hash_4       999984 non-null float64
lyricist_hash_5       999984 non-null float64
lyricist_hash_6       999984 non-null float64
lyricist_hash_7       999984 non-null float64
lyricist_hash_8       999984 non-null float64
lyricist_hash_9       999984 non-null float64
dtypes: float64(33), int32(6), int64(5)
memory usage: 312.8 MB

In [157]:
df.to_csv('6-2ExtractData_Final.csv',index=False,header=True)

In [164]:
df_train = pd.read_csv('F:\\Study\\data\\lastmission\\6-2ExtractData_Final.csv', error_bad_lines=False, nrows=800000)
df_test=pd.read_csv('F:\\Study\\data\\lastmission\\6-2ExtractData_Final.csv', error_bad_lines=False,skiprows=800000,nrows = 199984, names= df_train.columns.values)

In [165]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800000 entries, 0 to 799999
Data columns (total 44 columns):
source_system_tab     800000 non-null int64
source_screen_name    800000 non-null int64
source_type           800000 non-null int64
target                800000 non-null int64
song_length           800000 non-null int64
language              800000 non-null int64
city                  800000 non-null int64
bd                    800000 non-null int64
gender                800000 non-null int64
registered_via        800000 non-null int64
times_Mon             800000 non-null int64
genreid_0             800000 non-null float64
genreid_1             800000 non-null float64
genreid_2             800000 non-null float64
artist_name_hash_0    800000 non-null float64
artist_name_hash_1    800000 non-null float64
artist_name_hash_2    800000 non-null float64
artist_name_hash_3    800000 non-null float64
artist_name_hash_4    800000 non-null float64
artist_name_hash_5    800000 non-null float64
artist_name_hash_6    800000 non-null float64
artist_name_hash_7    800000 non-null float64
artist_name_hash_8    800000 non-null float64
artist_name_hash_9    800000 non-null float64
composer_hash_0       800000 non-null float64
composer_hash_1       800000 non-null float64
composer_hash_2       800000 non-null float64
composer_hash_3       800000 non-null float64
composer_hash_4       800000 non-null float64
composer_hash_5       800000 non-null float64
composer_hash_6       800000 non-null float64
composer_hash_7       800000 non-null float64
composer_hash_8       800000 non-null float64
composer_hash_9       800000 non-null float64
lyricist_hash_0       800000 non-null float64
lyricist_hash_1       800000 non-null float64
lyricist_hash_2       800000 non-null float64
lyricist_hash_3       800000 non-null float64
lyricist_hash_4       800000 non-null float64
lyricist_hash_5       800000 non-null float64
lyricist_hash_6       800000 non-null float64
lyricist_hash_7       800000 non-null float64
lyricist_hash_8       800000 non-null float64
lyricist_hash_9       800000 non-null float64
dtypes: float64(33), int64(11)
memory usage: 268.6 MB

In [166]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199984 entries, 0 to 199983
Data columns (total 44 columns):
source_system_tab     199984 non-null int64
source_screen_name    199984 non-null int64
source_type           199984 non-null int64
target                199984 non-null int64
song_length           199984 non-null int64
language              199984 non-null int64
city                  199984 non-null int64
bd                    199984 non-null int64
gender                199984 non-null int64
registered_via        199984 non-null int64
times_Mon             199984 non-null int64
genreid_0             199984 non-null float64
genreid_1             199984 non-null float64
genreid_2             199984 non-null float64
artist_name_hash_0    199984 non-null float64
artist_name_hash_1    199984 non-null float64
artist_name_hash_2    199984 non-null float64
artist_name_hash_3    199984 non-null float64
artist_name_hash_4    199984 non-null float64
artist_name_hash_5    199984 non-null float64
artist_name_hash_6    199984 non-null float64
artist_name_hash_7    199984 non-null float64
artist_name_hash_8    199984 non-null float64
artist_name_hash_9    199984 non-null float64
composer_hash_0       199984 non-null float64
composer_hash_1       199984 non-null float64
composer_hash_2       199984 non-null float64
composer_hash_3       199984 non-null float64
composer_hash_4       199984 non-null float64
composer_hash_5       199984 non-null float64
composer_hash_6       199984 non-null float64
composer_hash_7       199984 non-null float64
composer_hash_8       199984 non-null float64
composer_hash_9       199984 non-null float64
lyricist_hash_0       199984 non-null float64
lyricist_hash_1       199984 non-null float64
lyricist_hash_2       199984 non-null float64
lyricist_hash_3       199984 non-null float64
lyricist_hash_4       199984 non-null float64
lyricist_hash_5       199984 non-null float64
lyricist_hash_6       199984 non-null float64
lyricist_hash_7       199984 non-null float64
lyricist_hash_8       199984 non-null float64
lyricist_hash_9       199984 non-null float64
dtypes: float64(33), int64(11)
memory usage: 67.1 MB

In [167]:
df_train.to_csv('6-2Fianl_train.csv',index=False,header=True)
df_test.to_csv('6-2Final_test.csv',index=False,header=True)